.env
*.env
.env.*
# Ignore specific sensitive keys
serviceAccountKey.json
# But allow essential project JSONs
!package.json
!package-lock.json
!composer.json

.DS_Store
node_modules/
__pycache__/
dist/
build/
.vscode/
.idea/
*.log